.GroupingPicker {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.button {
    min-width: 130px;
    padding: 4px 5px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    background: white;
    border: 1px solid #e0e0e0;
    text-decoration: none;
    margin: 0 5px;
}

.active {
    background: black;
    color: white;
}